/*
  Data:26/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: pagina de estilização de unidade
*/

/*------------- Tags padrões -----------------*/

/* Tag que modifica todas as divs */
*{
  margin:0px;
  padding: 0px;
}



/* Div que segura todo conteudo da página*/
#main{
  width: 100%;
  min-height: 1900px;
  height: auto;
}


/*--------------------------- conteúdo e titulo hospital ---------------------------*/
#content{
  width: 1200px;
  min-height: 900px;
  height: auto;
  background-color: #B22222;
  margin: auto;
}

/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;
}

/* Titulo */
#titulo_pagina{
  height: 50px;
  width: 200px;
  margin: auto;
  padding-top: 20px;
  font-size: 32px;
}

.faixa_branca{
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: auto;
}

/*--------------------------- conteúdo dps do titulo ---------------------------*/
#imagem_content{
  height:475px;
  width: 100%;
  background-color: #8B0000;
  margin-top: 10px;
}


#imagem_hospital{
  height: 474px;
  width: 774px;
  background-color: #000;
}
