/*

  Data: 25/03/2018
  Desenvolvedor: Gleyver Coutinho Castro
  Obs: Página de estilização sobre_hhealth

*/

/* Estilizações padrões */
*{
  margin: 0px;
  padding: 0px;
}


/* div que segura todo conteúdo da página */
#main{
  width: 100%;
  height: 1800px;
}

/* div que segura o conteúdo da página */
#content_sobre_hhealth{
  width: 1200px;
  min-height: 900px;
  height: auto;
  margin:auto;
  background-color: #FF0000;
}

/* Div que segura titulo da Página */
#suporte_titulo{
  height: 70px;
  width: 100%;
}

/* Titulo */
#titulo_pagina{
  height: 50px;
  width: 300px;
  margin: auto;
  padding-top: 20px;
  font-size: 32px;
}

.faixa_branca{
  height: 1px;
  width: 95%;
  background-color: #ccc;
  margin: auto;
}

/* Primeiro texto da página*/
#suporte_primeiro_texto{
  height: 290px;
  width: 1095px;
  margin: 15px auto;
  /* background-color: #CCC; */
  font-size: 18px;
}

/* Div que segura a primeira imagem com texto */
.suporte_texto_imagem{
  height: 260px;
  width: 1150px;
  margin: 10px auto;
  /* background-color: #ccc; */
}

/* imagens iguais da tela sobre_hhealth */
.imagens_sobre_hhealth{
  height: 256px;
  width: 256px;
  border-radius: 100%;
  background-color: #ff00ff;
  float: left;
}

/* texto padrões da tela sobre_hhealth */
.texto_sobre_hhealth{
  width: 876px;
  height: 198px;
  /* background-color: #000; */
  float: left;
  margin: 35px 5px;
}

.imagem_representa, .suporte_imagem{
  height: 256px;
  width: 256px;
  border-radius: 100% ;
}
