*{
  padding: 0px;
  margin: 0px;
}

body{

    background-image: url(../../imagens/img_login1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}

.content{
      width:100%;
      height: 60%;
      opacity: 0.2;
      background-color: black;
      position: fixed;
      margin-top: 200px;
      z-index: 1;

}

.login{
      width: 400px;
      height: 300px;
      margin-left: 18vw;
      margin-top: 33vh;
      border-radius: 3px;
      padding: 10px;
      z-index: 2;
      position: absolute;
}

.txtlogin{
      width: 90%;
      height: 40px;
      font-family: sans-serif;
      font-size: 35px;
      color: darkred;
      opacity:1;
}

.txt_login{
      width: 92%;
      height: 30px;
    background-color: aquamarine;
      margin-top: 35px;
    
}

.txt_senha{
      width: 92%;
      height: 30px;
      margin-top: 35px;

}

img{
    width: 29px;
    height: 29px;
    float: right;
    background-color: white;
    margin-top: 36px;
}

.txt_login input{
      width: 100%;
      height: 90%;
      text-align: center;
      font-family: sans-serif;
      font-size: 15px;
}


.txt_senha input{
      width: 100%;
      height: 90%; 
      text-align: center;
      font-family: sans-serif;
      font-size: 15px;
}

.botao_entar{
      width: 100%;
      height: 30px;
      font-family: sans-serif;
      margin-top: 55px;
}

.botao_entar input{
      width: 200px;
      height: 30px;
      border-radius: 1px;
      border: solid 1px darkred;
      background-color: darkred;
      float: left;
      color: #fff;
      font-weight: bold;
      margin: auto;
      margin-left: 100px;
}
