/*CSS*/
*{
  margin: 0px;
  padding: 0px;
}

.main{
    width:100%;
    min-height: 100%;
    height:auto;
    position:absolute;
    margin:0px;
    padding:0px;
}

.content_cms{
    width:100%;
    min-height: 1200px;
    height:auto;
    margin:auto;
    border-radius:10px;
}

/*-------------------CONTEUDO CMS---------------------------*/
.content_home_cms{/*conteudo do cms*/
    width:100%;
    min-height:900px;
    height:auto;
    margin:auto;
}

