/*----------Menu Lateral----------*/
*{
      padding: 0px;
}

.menu_lateral_cms{/*menu lateral*/
    width:20%;
    height:auto;
    margin-top:5px;
    float: left;
    background-color: #a09f9f;
}

.conteudo_home_cms{/*conteudo home*/
    width:79%;
    min-height:500px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #D9D9D9;
    float: right;
}

.linha{
    width:98.9%;
    min-height: 60px;
    height:auto;
    overflow: hidden;
    margin-left: 5px;
    background-color:#a09f9f;
    margin-top:5px;
    color:#fff;
}

.linha:hover{
    background-color:#666666;
    color:#fff;
}

.img_menu_lateral{
    width:10%;
    height:40px;
    margin-left:25px;
    margin-top: 10px;
    float: left;
}

.img_menu_lateral img{
    width:90%;
    height:40px;
}

.titulo_menu_lateral{
    width:80%;
    height: auto;
    min-height:30px;
    margin-left:0px;
    margin-top:25px;
    float: left;
    font-family: sans-serif;
    /*font-weight: bold;*/
    text-align: center;
    color: ;
}
