*{
    padding: 0px;
    margin: 0px;
    font-family: verdana, arial 'sans-erif';
}

a{
  text-decoration: none;
  color: #000;
}

.main{
      float: right;
      width: 80%;
      margin-right: 2.5%;
}

#principal{
    width: 100%;
    min-height: 400px;
    height: 100%;
    z-index: 10;
}

header{
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    background-color: #FC363B;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    float: left;
    z-index: 999;
}

.alinha_conteudo{
      width: 100%;
      height: 100px;
}

p{

    text-align: center;
    font-family: verdana, arial, 'sans-serif';
    font-weight: 900;
    color: #333;
    font-size: 22px;
}

#container_cad_paciente{
    width: 100%;
    min-height: 300px;
    overflow: auto;
    padding: 16px;
    border: solid 1px #333;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px #999;
}

.suporte_pagamento{
  width: 500px;
  height: 500px;
  /* background-color: #000; */
}

#alinha_conteudo_opcao{
  height: 200px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
}

.escolha_opcao{
  height: 100px;
  width: 140px;
  background-color: #ccc;
  float: left;
  margin-left: 40px;
}

.escolha_opcao:hover{
  background-color: #c2c2c2;
}

.alinha_letra{
  line-height: 100px;
  padding-left: 40px;
    
}

.alinha_letra img{
    width:90px;
    height:100px;
    margin-left:-10px;
}


#suporte_dados_cartao, #suporte_dados_boleto{
  min-height: 300px;
  height: auto;
  width: 100%;
  display: none;
  margin-top: 40px;
}

.voltar_menu_pagamentos{
  height: 22px;
  width: 70px;
}

.campos_pagamento_cartao{
  min-height: 300px;
  height: auto;
  width: 500px;
  margin: auto;
  background-color: #FFFFFF;
}

.campos{
    font-family: verdana,'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 18px;
    color:#999;
}

.campos [type=text],[type=number],[type=email],[type=password]{
    width:300px;height:30px;margin-top:10px;padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.campos_pagamento_cartao [type=submit]{
    width:100px;
    height:50px;
    background-color:red;
    border:0px;
    margin-top:50px;
    margin-left:300px;
    font-family: verdana,'BenchNine', Arial, sans-serif;
    font-size: 1em;
    font-size: 18px;
    color:#fff;
}

.campos_pagamento_cartao [type=submit]:hover{
    -webkit-box-shadow: 2px 3px 50px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 50px -4px rgba(0,0,0,0.75);
box-shadow: 2px 3px 50px -4px rgba(0,0,0,0.75);
    
}
