#container_cad_funcionario{
    width: 100%;
    height: 700px;
    padding: 16px;
    border: solid 1px #333;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px #999;
}


#coluna_foto{
    width: 250px;
    height: 250px;
    margin-left: 30px;
    float: left;
    background-image: url(../imagens/doc_icon1.jpg);
    background-size: cover;
}

#coluna_inputs{
   width: 650px;
    height: 190px;
    float: left;
    margin-left: 45px;
    padding-top: 60px;
}

/*INPUTS E FORM*/
.input_big{
    border: solid 1px #999;
    width: 450px;
    height: 28px;
    padding: 3px;
    margin-bottom: 15px;
    color: #333;
    font-family: verdana, arial, 'sans-erif';
}

.input_big2{
    border: solid 1px #999;
    width: 700px;
    height: 28px;
    padding: 3px;
    margin-bottom: 15px;
    color: #333;
    font-family: verdana, arial, 'sans-erif';
}

.input_med{
    border: solid 1px #999;
    width: 143px;
    height: 28px;
    padding: 3px;
    margin-bottom: 15px;
    color: #333;
    font-family: verdana, arial, 'sans-erif';
}

.input_med2{
    border: solid 1px #999;
    width: 180px;
    height: 28px;
    padding: 3px;
    margin-bottom: 15px;
    color: #333;
    font-family: verdana, arial, 'sans-erif';
}

label{
    color: #333;
    font-family: verdana, arial, 'sans-erif';
    font-size: 13px;
}

.espaco_maior{
    margin-left: 55px;
}

.espaco_maior p{
    margin-bottom: 15px;
}

#bt_salvar{
    width: 150px;
    height: 27px;
    padding: 5px;
    background-color: #FC361D;
    color: #fff;
    font-weight: bold;
    font-family: verdana;
    margin-top: 15px;
    margin-left: 35%;

}
