.menu_lateral_cms a{
      color: black;
      margin-left: 10px;
}

.menu_lateral_cms{
      width: 15%;
      height: 100%;
      position: fixed;
      float: left;
      overflow: hidden;
      margin-left: 15px;
}

.segura_menu{
      width: 100%;
      height: 480px;
}

.linha{
      width: 100%;
      height: 64px;
      margin-top: 15px;

}

.img_menu_lateral{
      width: 25%;
      height: 64px;
      float: left;
}


.titulo_menu_lateral{
      width: 75%;
      height: 64px;
      color: black;
      line-height: 64px;
      font-weight: bold;
      font-family: sans-serif;
      float: left ;

}
