.menu_lateral_cms a{
      color: black;
      margin-left: 10px;
}

.menu_lateral_cms{
      width: 15%;
      height: 100%;
      position: fixed;
      float: left;
      overflow: hidden;
      padding-top: 20px;
}

.linha{
      width: 100%;
      height: 64px;
      margin-top: 15px;
      margin-left: 15px;
}

.img_menu_lateral{
      width: 64px;
      height: 64px;
      float: left;
}

.linha:hover>.titulo_menu_lateral{
      display: block;
      font-weight: bold;
      font-family: sans-serif;
}

.titulo_menu_lateral{
      width: 100%;
      height: 64px;
      color: black;
      line-height: 64px;
      font-weight: bold;
      font-family: sans-serif;

}
