*{
    padding: 0px;
    margin: 0px;
    font-family: verdana, arial 'sans-erif';
}

.main{
      float: right;
      width: 80%;
      margin-right: 2.5%;
}

.#principal{
    width: 100%;
    min-height: 400px;
    height: 100%;
    z-index: 10;
}

header{
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    background-color: #FC363B;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    float: left;
    z-index: 999;
}

.alinha_conteudo{
      width: 100%;
      height: 100px;
}

p{

    text-align: center;
    font-family: verdana, arial, 'sans-serif';
    font-weight: 900;
    color: #333;
    font-size: 22px;
}

#container_cad_paciente{
    width: 100%;
    min-height: 300px;
    overflow: auto;
    padding: 16px;
    border: solid 1px #333;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px #999;
}

.cabecalho{
      width: 100%;
      height: 60px;
      margin-top: 20px;
}

.txt_cabecalho{
      width: 88%;
      height: 60px;
      float: left;
      line-height: 60px;
}

.img_nivel{
    width: 62px;
    height: 60px;
    float: right;
    margin-right: 15px;
}

.col_1{
    width: 20%;
    height: 250px;
    margin-top: 15px;
    float: left;
}

.col_1 img{
    width: 100%;
    height: 100%;
}

.col_2{
    width: 75%;
    min-height: 400px;
    overflow: hidden;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
    border: solid 1px #333;
}

/*TABELA PACIENTES PENDENTES*/
.titulo_tabela{
    width: 100%;
    height: 35px;
    border: solid 1px #333;
}

.lb_titulo{
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: verdana;
    padding-top: 7px;
    font-weight: bold;
}

.linha_tabela{
    width: 100%;
    height: 30px;
}

.item_tabela{
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    font-family: verdana;
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom:solid 1px #999;
}

.ativar_user{
    width: 32px;
    height: 32px;
}

.ativar_user img{
    width: 32px;
    height: 32px;
}